body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 }

.navigation{
  background-color: #165d51;
  margin: 1rem;
  border-radius: 0.7rem;
}

.navigator{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
 }

.navbar-brand-form{
  margin: 1rem 0;
  width: 12rem;
} 
.bethar_logo{
  width: 2rem !important;
  margin: 1rem 0;
 }

 .navbar-brand{
  font-size: 0.6rem;
   margin: 1.5rem 0;
   color: white
  }
.bolt-icon, .cart-icon{
  margin: 1.5rem 0;
}
.cart-icon{
  border-radius: 50% !important;
  background-color: white !important;
  padding: 0.4rem;
  font-size: 2rem !important;
}
.bolt-icon{
  color: goldenrod !important;
}
 .search{
  background-color: white;
  display:grid;
  grid-template-columns: auto auto;
  border-radius: 1rem;
  width: 100%;
  position: relative;
 }
 .search-field{
  border-radius: 1rem !important;
  border:none;
 }
 .add{
  display: none;
 }
.navbar-brand-form{
   width: 7rem;
}
.cart-count{
  display: inline;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  font-family:"Quicksand";
  top: 2rem;
  left: 1.5rem;
  color: #9fda41 !important;
  cursor: pointer;
}
.home-aside{
  position: relative;
  background-color: #165d51;
  margin: -0.7rem 1rem 1rem 1rem;
 display: grid;
 grid-template-columns: auto auto;
}
.home-aside::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #165d51;;
  border-radius: 0 0 50% 50%; /* Rounded dip */
  transform: translateY(50%);
  z-index: -1;
}
.advert-img{
  width: 10rem;
}
.home-advert1{
  position:relative;
  top: 1rem;
  left: 1rem;
  width: 90%;
}
.home-advert2{
  position:relative;
  top: 2rem;
 
}
.advert-word1{
  font-family: "Roboto Slab";
  font-size: 1rem;
  color: white;
  line-height: 1.5;
  font-weight: bolder;
}
.advert-word2{
  color: white;
  font-size: 0.6rem;
  font-family: "Quicksand";
}
.advert-img{
  border-radius: 0 0 50% 50%;
}
.shoping-button{
  background-color: #9fda41 !important;
}
.home-header{
  margin-top: 4rem;
}
.listed-items{
  max-width:30%;
}
.see-more1{
  width: 100%;
  height: 100% !important;
  background-color: #9fda41 !important;
  border-radius: 1rem  0rem 0rem 1rem;
}
.see-more2{
  position: relative;
  top: -0.6rem;
}
.arrow{
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 0.6rem;
  position: relative;
  top: -0.6rem;
}
.advert-word3{
  margin: 1rem;
  color:#165d51;
  font-family: "Roboto Slab";
  font-weight: bolder;
  font-size: 1rem;
}
.box{
  margin: 1rem;
}

.product-display{
  display: grid!important;
  grid-template-columns: auto auto!important;
  gap: 1rem;
  margin: 1rem;
}

.card-media{
  margin: 0.7rem;
}

.first-item{
height: 90%;
width: 90%;
}
.compo{
font-size: 1rem !important;
text-align: center;
position: relative;
top: -0.6rem
}
.card-content{
  position: relative;
  top: -0.6rem;
}
.gram{
  position: relative;
  top: -1.4rem;
  color: gray;
  font-size: 0.6rem !important;
}
.price{
  font-size: 1.7rem !important;
  font-family: "Black 900";
  color: black;
  font-weight: bolder;
  position: relative;
  top: -1rem;
}
.card-actions{
  position: relative;
  top: -2rem;
}
.button-up{
  display: grid;
  grid-template-columns: auto auto;
}
.selected{
  position: relative;
  top: 12rem;
}
.add-button{
  position: relative;
  background-color: gainsboro !important;
  position: relative;
  color: black !important;
  padding: 10px 20px;
  font-size: 1.5rem !important ;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}
.add-button::before, .add-button::after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 10px 10px 0; /* Triangle size */
  border-color: transparent gainsboro transparent transparent; 
}
.add-button::before{
  left: -10px;
}
.add-button::after{
  right: -10px; /* Position triangle on the right */
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent gainsboro;
}

.grid{
  display: grid !important;
  grid-template-columns: auto auto auto !important;
}

.parent-features{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 1rem;
  width: 100%;
 }
.child-features{
  border-radius: 0.6rem 0.6rem 0 0;
  background-color: rgb(221, 113, 12);
  min-height: 20%;
}
.special{
  margin: 0rem 1rem;
}
.blue{
  background-color: rgba(33, 67, 131, 0.473);;
}
.aqua{
  background-color: aqua;
}
.sub-child-child-features1{
  background-color: white !important;
  border-radius: 50%;
  width: 40%;
  position: relative;
  top: 1.4rem;
  left: 0.5rem;
  z-index: 1;
  }

 .posterity{
  border-radius: 50%;
  width: 100%;
   }
  
  .child-child-features2{
    background-color: whitesmoke;
    min-height: 100%;
    min-width: 100%;
    border-radius: 0 0 0.6rem 0.6rem;
    position: relative;
   }

  .sub-child-child-features2{
    position: relative;
    top: 1.5rem;
    font-size: 60%;
    left: 0.5rem;
  }

  .stack{
    position: relative;
    top: 0.4rem;
  }
  .sub-child-child-features3{
    color: goldenrod !important;
    font-size: 80% !important;
  }
  .sub-child-child-features4{
    font-size: 80%;
  }
  .discount-features{
    position: relative;
    top: 6rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.4rem 0.4rem;
    margin: 1rem;
  }
  .child-discount-features1{
    background-color: pink;
    max-width: 100%;
    max-height: 50%;
    border-radius: 0.6rem;
  }
  .numba2{
    background-color: rgb(236, 189, 147);
  }
  .numba3{
    background-color: rgb(187, 213, 235);
  }
  .numba4{
    background-color: rgb(241, 211, 184);
  }
  .child-child-discount-features1{
    background-color: rgb(94, 6, 57);
    position: relative;
    min-height: 25vh;
    border-radius: 1rem 1rem 0.6rem 0.6rem;
    top:-1rem;
   }
   .secondly{
    background-color: rgb(151, 72, 3);
   }
   .thirdly{
    background-color: rgb(12, 32, 216)
   }
   .fourtly{
    background-color: rgb(105, 48, 105)
   }  
  .filter-image{
    max-width: 6rem;
    margin: auto;
    display: flex;
    position: relative;
    top: 0.8rem;
  }
  
   .common{
    position: relative;
    left: 1rem;
  }

  .sub-child-discount-features1{
    font-family: "Oswald";
    font-weight: bolder;
    font-size: 1rem;
    position: relative;
    top: 1rem;
    color: rgb(58, 12, 12);
  }
  .un{
    color: rgb(68, 34, 9);
  }
  .duo{
  color: saddlebrown !important;
  }
  .tract{
    color: saddlebrown !important;
  }

  .up-to{
    color:rgb(11, 136, 185) !important
  }
  .fifty-perce{
    color:rgb(5, 76, 158) !important
  }
  .enjoy-dis{
    color:rgb(8, 94, 165) !important
  }
  .free{
    color: rgb(107, 65, 117) !important
  }
  .shipper{
    color: rgb(102, 0, 128) !important
  }
  .counter{
    color: rgb(107, 65, 117) !important
  }
  .sub-child-discount-features2{
    color: rgb(202, 28, 130);
    font-family: 'Anton';
    font-size: 100%;
  }
  
  .sub-child-discount-features3{
    font-size: 45%;
    position: relative;
    top: -1rem;
    line-height: -1.2rem;
    color: rgb(58, 12, 12);
  }
  .sub-child-child-features2, .sub-child-child-features3, .sub-child-child-features4{
    position: relative;
    top:2rem;
   }
  .best-selling-items{
    position:relative;
    top: 6rem;
  }
  .topic{
    display: grid;
    grid-template-columns: auto auto;;
    column-gap: 10%;
  }
  .selling-items{
    color: #165d51;
    font-family: "Quicksand";
    font-weight: bolder;
    position: relative;
    left: 1rem;
  }
  .product-name, .admin-login{
    position: relative;
    top: 5rem;
  }
  .aside-linkers{
    text-decoration: none;
    font-size:0.6rem;
    color:#165d51;
  }
  
  .items, .arrow-2{
    color: rgb(185, 44, 44);
    top: 0rem;
  }
  .parent-item{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
    margin: 1rem;
  }
  .item-aside{
    border-radius: 1rem !important;
    cursor: pointer;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px rgb(233, 205, 205);;
  }
  .nav-category {
    margin: 16px 0;
  }
  .item-home{
    border-radius: 1rem !important;
    cursor: pointer;
  }
  .see-links{
    text-decoration: none;
  }
  .display-selected{
    display: grid !important;
    grid-template-columns: auto auto;
  }
  .box-home{
    margin: 1rem;
    cursor: pointer;
    display: grid !important;
    grid-template-columns: auto auto auto auto;
  }
  .item-name{
    font-size: 0.6rem !important;
    text-align: left;
    position: relative;
    top: -0.6rem;
    }
    .product-grid {
      text-align: center;
      margin: 1rem;
    }
    .active{
      background-color: #9fda41 !important;
      color: white !important
    }
    
    .product-card {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      padding: 8px;
      border-radius: 8px;
      margin: 1rem;
    }
    .display{
      top: -1rem;
    }
    .add-button {
      margin-top: 8px;
      width: 100%;
    }
    .site-name{
      top: -1rem;
    }
    .seecondary{
      top: 0.2rem;
    }
    .resus{
      top: 0.3rem;
    }
    
    .parent-apart{
      margin: 1rem;
      width: 90%;
      border-radius: 1rem;
      background-color: #80125bf5;
      position: relative;
      top: 8rem;
    }
    .cover{
      display: grid;
      grid-template-columns: auto auto;
      margin: 1rem;
      gap:  1rem;
    }
    .child-apart1{
      margin-left: 1rem;
    }
    .sub-child-apart1{
      font-size: 0.7rem;
      font-weight: bold;
      color:white;
      font-family: "Quicksand";
      position: relative;
      padding: 0.6rem;
      line-height: 2rem;
    }
    .apart-img{
      max-width: 12rem;
    }
    .small{
      font-size: 0.8rem;
      color:white;
    }
    .child-apart2{
      position: relative;
      top: 1rem;
    }
    .social-media2{
      margin-left: 1rem;
    }
    .billing{
      font-family:"Quicksand";
      margin: 1rem;
    }
    .billing-table{
      margin: 1rem;
      width: 90%;
    }

    th{
      border: 2px solid black;
      text-align: center;
      text-transform: uppercase;
      color: rgb(82, 79, 79)
    }
   
    th, tr, td{
      border: 2px solid black;
      
    }
    tr:nth-child(even) {
      background-color: rgb(82, 79, 79);
      color: rgb(172, 168, 168);
    }
   
    tr:hover {
      background-color: black;
      color: white;
    }
    
    .payment{
      border-radius: 1rem;
      margin: 1rem;
    }
    .payment-word{
      font-family: "Bebas Neue"!important;
      font-size: 1.5rem;
    }
    .footer{
      margin: 1rem;
      position: relative;
      top: 7rem;
    }
    .category-parent{
      padding: 0.6rem;
    }
    .category{
      font-size: 1rem;
      font-weight: bold;
      font-family: "Montserrat";
    }
    .for-footer{
      font-family: "Montserrat";
      font-size: 0.7rem;
    }
    .admin-input{
      border-radius: 0.4rem;
      border: 2px solid gray;
      width: 100%;
      padding: 0.4rem;
    }
    .submit{
      border: 2px solid gray !important;
      color: black !important;
    }
    .company-name, .payment{
      color:#9fda41;
      text-transform: uppercase;
      font-family:"Montserrat";
      font-weight: bolder;
      font-size: 1rem;
    }
    .offer{
      display: grid;
      grid-template-columns: auto auto;
      gap: 0.7rem;
    }
    
   .reserved{
    font-family: "Montserrat";
    font-size: 1rem;
    color:#9fda41;
   }

   .overall-category{
    margin: 1rem;
    font-weight: bolder;
    font-family: "Quicksand";
    color:#9fda41;
   }

   .shop-overall{
    margin: 1rem;
    font-weight: bolder;
    font-family: "Montserrat";
    color:#9fda41;
   }
  @media (max-width:359px){
    body{
      visibility: hidden;
    }
  }

  @media(min-width:416px){
    .sub-child-apart1{
      font-size: 1rem;
    }
    .apart-img{
      width: 8rem;
    }
  }
  @media (min-width:446px){
    .shoping-button{
      position: relative;
     top: 1rem;
    }
    .advert-word1{
      font-size: 1.3rem;
    }
    .advert-img{
      width: 12rem;
    }
    
    
  }
  @media (min-width:499px){
    .navbar-brand{
      font-size: 1rem;
  }
  .shoping-button{
    position: relative;
   top: 0.5rem;
  }
  
.advert-word2{
  font-size: 0.8rem;
}

.discount-features{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.product-display{
  grid-template-columns: auto auto auto !important;
}

.topic{
  column-gap: 20%;
}

.sub-child-apart1{
  font-size: 1rem;
}
  }

  @media (min-width:600px){
    .add{
      display: flex;
     }
     .navigator{
         grid-template-columns: auto auto auto auto auto auto auto;
    }
     .navbar-brand{
      font-size: 0.6rem;
     
      }
      .navbar-brand-form{
        width: 12rem;
      } 
      .parent-item{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
      }
      .aside-linkers{
        text-decoration: none;
        font-size:1rem;
        color:#165d51;
      }
      .advert-word1{
        font-size: 1.9rem;
      }
      .shoping-button{
        top: 1.5rem;
      }
      .advert-img{
        width: 14rem;
      }
      .home-advert2{
        top: 2.5rem;
      }
      .apart-img{
        position: relative;
        top: -1rem;
        width: 9rem;
      }
      .sub-child-apart1{
        font-size: 1.4rem;
      }
      .grid{
        grid-template-columns: auto auto auto auto !important;
      }
      .display-selected{
        grid-template-columns: auto auto auto auto !important;
      }
      .box-home{
        grid-template-columns: auto auto auto auto auto auto auto !important;
      }
      .child-child-features2{
        top: -1.5rem;
       }
       .sub-child-child-features2, .sub-child-child-features3, .sub-child-child-features4{
        position: relative;
        top:3rem;
       }
       .topic{
        column-gap: 40%;
      }
  }
  @media (min-width:649px){
    .advert-word1{
      font-size: 2.1rem;
    }
    .shoping-button{
      top: 1.2rem;
    }
    .size, .plus{
      max-width: 30%;
    }
  }
  @media (min-width:700px){
  .navbar-brand-form{
    width: 15rem;
  } 
  .apart-img{
    position: relative;
    top: -0.5rem;
    width: 10rem;
  }
  .sub-child-apart1{
    font-size: 1.7rem;
    padding: 1rem;
    line-height: 1.4;
  }
  .topic{
    column-gap: 60%;
  }
  .listed-items{
    max-width:20%;
  }
  .product-display{
    grid-template-columns: auto auto auto auto !important;
  }
}
@media (min-width:800px){
  .navbar-brand{
    font-size: 0.8rem;
   }
    .advert-word2{
      font-size: 1rem;
    }
    .nyio{
      max-width: 60%;
    }
    .navbar-brand-form{
      width: 19rem;
    }
    .apart-img{
      position: relative;
      top: -0.5rem;
      width: 11rem;
    }
    .sub-child-apart1{
      font-size: 2rem;
      padding: 1rem;
      line-height: 1.4;
    }
    .home-advert1{
      width: 100%;
    }
    .advert-img{
      width: 16rem;
    }
    .home-advert2{
      left: 3rem;
    }
    .shoping-button{
      top: 2.4rem
    }
    .product-display{
      grid-template-columns: auto auto auto auto auto!important;
    }
    .grid{
      grid-template-columns: auto auto auto auto auto !important;
    }
}

@media (min-width:1000px){
.navbar-brand-form{
      width: 27rem;
    } 

.home-advert2{
      left: 6rem;
    }
    .apart-img{
      position: relative;
      top: -0.5rem;
      width: 17rem;
    }
    .sub-child-apart1{
      font-size: 2.5rem;
      padding: 1.5rem;
      line-height: 1.4;
    }
.advert-img{
  width: 18rem;
}
.topic{
  column-gap: 70%;
}
.sub-child-child-features2, .sub-child-child-features4{
  font-size: 1rem;
}

.filter-image{
  position: relative;
  top: 1rem;
 width: 12rem;
}
}

@media (min-width:1115px){
  .navbar-brand-form{
        width: 32rem;
      } 

      .sub-child-apart1{
        font-size: 3rem;
        padding: 1.5rem;
        line-height: 1.4;
      }

      .apart-img{
        position: relative;
        top: -0.5rem;
        width: 25rem;
      }
    .footer{
      top: 10rem;
    }
  }

  @media (min-width:1120px){
    .navbar-brand-form{
          width: 48rem;
        }
    .footer{
      top: 22rem;
    }
        .parent-apart{
          top: 17rem;
        }

    .advert-img{
          width: 20rem;
        }

        .home-advert2{
          left: 10rem;
        }
        .nyio{
          max-width: 50%;
        }
        .size{
          max-width: 27%;
          top: 1rem;
        }
        .plus{
          top: 1rem;
        }
        .discount-features{
          position: relative;
          top: 10rem;
        }
        .best-selling-items{
          position:relative;
          top: 15rem;
        }
        .child-child-discount-features1{
          min-height: 35vh;
         }
    }